<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Melbourne house price prediction
    <form action="POST">
        
        <input type="text" name="type" placeholder="Type">
        <input type="text" name="method" placeholder="Method">
        <input type="text" name="seller" placeholder="Seller">
        <input type="text" name="date" placeholder="Date">
        <input type="text" name="distance" placeholder="Distance">
        <input type="text" name="postcode" placeholder="Postcode">
        <input type="text" name="bedroom" placeholder="Bedroom">
        <input type="text" name="bathroom" placeholder="Bathroom">
        <input type="text" name="car" placeholder="Car">
        <input type="text" name="landsize" placeholder="Landsize">
        <input type="text" name="buildingarea" placeholder="BuildingArea">
        <input type="text" name="yearbuilt" placeholder="YearBuilt">
        <button type="submit">Predict</button>
    </form>
</body>
</html>