<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Melbourne House Price Prediction</title>
</head>
<body>
    <h1>Estimate the Value of Your Home</h1>
    <form action="/predictPrice" method="POST">
        <label for="suburb">Suburb:</label>
        <select name="suburb" id="suburb">
            <% suburbs.forEach(suburb => { %>
                <option value="<%= suburb.slice(7) %>"><%= suburb.slice(7).toUpperCase() %></option>
            <% }); %>
        </select><br>
        
        <label for="type">House Type:</label>
        <select name="type" id="type">
            <% types.forEach(type => { %>
                <option value="<%= type.slice(5) %>"><%= type.slice(5).toUpperCase() %></option>
            <% }); %>
        </select><br>

        <label for="distance">Distance from CBD:</label>
        <input type="text" name="distance" id="distance" placeholder="Distance from CBD in km"><br>
        
        <label for="bedroom">No of Bedrooms:</label>
        <input type="text" name="bedroom" id="bedroom" placeholder="Bedroom"><br>
        
        <label for="bathroom">No of Bathrooms:</label>
        <input type="text" name="bathroom" id="bathroom" placeholder="Bathroom"><br>
        
        <label for="car">No of Carspots:</label>
        <input type="text" name="car" id="car" placeholder="Car"><br>
        
        <label for="landsize">Landsize:</label>
        <input type="text" name="landsize" id="landsize" placeholder="Landsize"><br>
        
        <label for="yearBuilt">Year Built:</label>
        <input type="text" name="yearBuilt" id="yearBuilt" placeholder="Year Built"><br>
        
        <button type="submit">Predict</button>
    </form>
    </form>
</body>
</html>